// autocompile

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

.rpvoid_original {
position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  border: none;
}

.plain-wrapper {
  display: flex;
  background: tomato;

  .row {
    // first row
    &:nth-child(1) {
      // news
      .content-square.is-video {
        display: none;
      }

      //login
      form {
        filter: none;

        .is-footer {
          bottom: 1rem;

          .is-footer-link {
            padding: 0.5rem;
          }
        }
      }
    }
    // news and stuff
    &:nth-child(2) {
      flex-direction: column;
      img {
        display: none;
      }
      .content-square.is-bottom {
        height: 3rem;
      }
    }
  }
}
